<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de alimentos</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de alimentos</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Calorias</th>
              <th scope="col">Gordura</th>
              <th scope="col">Sodio</th>
              <th scope="col">Carboidratos</th>
              <th scope="col">Proteina</th>
              <th scope="col">Fibra</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alimento of alimentos">
              <td>{{alimento.id}}</td>
              <td>{{alimento.Nome}}</td>
              <td>{{alimento.Calorias}}</td>
              <td>{{alimento.Gordura}}</td>
              <td>{{alimento.Sodio}}</td>
              <td>{{alimento.Carboidratos}}</td>
              <td>{{alimento.Proteina}}</td>
              <td>{{alimento.Fibra}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editAlimento(alimento)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteAlimento(alimento)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
