#div-alimentos ul{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-left: 3vw;
    list-style: none;
}

#lista-inicial li{
    font-size: 18px;
    padding: 0.4em;
}

#Dados-Alimentos {
    background-size: cover;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    background-color: #033649;

}

#lista-alimentos{
    background-size: cover;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 2;
    color: white;
    margin-top: 7em;
}

#cda{
    margin-top: 4vh;
    font-size: 24px;
}

#div-infos{
    background-color: #036564;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-body{
    background-color: #033649;
    display: flex;
    border-radius: 15px;
    color: #d4d4d4;
    display: none;
    max-height: 90vh;
    overflow: scroll;
}

.card-body::-webkit-scrollbar{
    overflow: hidden;
    width: 0;
    height: 0;
}

.card-body th,td{
    padding: 0.8em;
    text-align: center;
}

.ali{
    text-align: justify;
}

.LAs :hover{
    background-color: #036564;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 15px;
}

.LAs{
    width: 16.8vw;
}

/*Responsividae*/

@media (max-width:800px){
    #Dados-Alimentos{
        flex-direction: column;
    }

    #lista-alimentos{
        width: 100vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        line-height: 0;
        color: white;
        margin-top: 7vh;
    }

    #div-alimentos ul{
        flex-direction: row;
    }

    #dados-alimentos{
        background-color: #036564;
    }

    .LAs li{
        width: 10vw;
        height: 5vh;
    }
}