<header id="capa_index">
    <nav class="nav">
        <img class="logo" src="assets/INFONUTRI.png">
        <ul class="menu">
            <li><a routerLink="index">Início</a></li>
            <li><a routerLink="dadosnutri">Dados nutricionais</a></li>
            <li><a routerLink="exercicios">Exercicios Fisicas</a></li>
            <li><a routerLink="infonutri">Informações nutricionais</a></li>
            <li><a routerLink="contagem">Contagem de Calorias</a></li>
            <li><a routerLink="planosIF">Planos alimentares IF</a></li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>