* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Oswald;
    src: url(../../assets/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/Ubuntu-Regular.ttf);
}

h1 {
    font-family: Oswald;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 0.5em;
}

h2 {
    font-family: Oswald;
    font-weight: bold;
    font-style: normal;
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    text-align: center;  
}

h3 {
    color: #f3f5f3;
    font-family: Oswald;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    align-items: center;
    text-align: center;
}

p {
    font-family: Ubuntu;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: justify;
    text-indent: 20px; 
}

#footer {
    background-color: #031634;
    width: 100%;
    height: 10vh;
}

/*MENU*/
body {
    background-color: #f5f5f5;
}

nav {
    background: linear-gradient(180deg, #031634 30%, #031634 50% , #031634 60%, #031634 100%);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    position: fixed;
}

.menu {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu a {
    color: #f3f5f3;
    font-family: Ubuntu;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: justify;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.logo {
    height: 12vh;
}

.logo-if{
    height: 12vh;
}

@media (max-width:600px){
    .nav{
        height: 30vh;
        flex-direction: column;
        justify-content: start;
    }

    .logo{
        height: 10vh;
        margin-top: 2vh;
    }

    .menu {
        width: 100%;
        justify-self: start;
        margin-top: 2vh;
    }
}