<main>
    <section id="section-exercicios">
        <div class="text_carrosel">
            <h1 class="carrosel_titulo">Grandes Jornadas</h1>
            <p class="carrosel_texto">Crescemos com algumas histórias. Elas marcam nossas vidas e quando chegam ao fim deixam aquela saudade nostalgica das aventuras que vivemos.</p>
            <P class="carrosel_texto">Se você está em busca de jornadas envolventes, cheias de emoção e dos mais variádos gêneros, temos algumas para te indicar!</P>
        </div>
        <div class="exerc-box">
            <div class="cards_itens">
                <div class="cards_img">
                    <p>pmadsp0mdmas0dm</p>
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </section>
    <section id="section-exercicios">
        <div class="text_carrosel">
            <h1 class="carrosel_titulo">Grandes Jornadas</h1>
            <p class="carrosel_texto">Crescemos com algumas histórias. Elas marcam nossas vidas e quando chegam ao fim deixam aquela saudade nostalgica das aventuras que vivemos.</p>
            <P class="carrosel_texto">Se você está em busca de jornadas envolventes, cheias de emoção e dos mais variádos gêneros, temos algumas para te indicar!</P>
        </div>
        <div class="exerc-box">
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cards_itens">
                <div class="cards_img">
                    <video width="450" height="320" poster="/assets/thumb.jpg" controls>
                        <source src="/assets/Annita.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </section>
</main>
<div id="footer"></div>    