<body>
    <main>
        <div class="container">
            <h2>Calcular Calorias Diárias</h2>
            <section id="contagem-calorica">
                <div>
                    <h2>Qual o seu sexo?</h2>
                    <input type="button" value="Homem"/>
                    <input type="button" value="Mulher"/>
                </div>
                <div>
                    <h2>Qual a sua idade?</h2>
                    <input type="number" id="idade" value="idade">
                    <label for="idade">anos</label>
                </div>
                <div>
                    <h2>Qual a sua altura?</h2>
                    <input type="number" id="altura" value="altura">
                    <label for="altura">cm</label>
                </div>
                <div>
                    <h2>Qual o seu peso?</h2>
                    <input type="number" id="peso" value="peso">
                    <label for="peso">kg</label>
                </div>
                <div>
                    <h2>Qual é o seu nível de atividade diária?</h2>
                    <input type="button" value="Atividade leve"/>
                    <input type="button" value="Atividade Moderada"/>
                    <input type="button" value="Atividade intensa"/>
                </div>
                <button type="button" class="Calcular" (click)="Calcular()">Calcule calorias diárias necessárias</button>
            </section>
        </div>
    </main>
    <footer id="footer"></footer>
</body>
<div id="footer"></div> 